annotated-types
anyio
bidict
certifi
charset-normalizer
click
colorama
deprecated
dnspython
email-validator
fastapi
h11
httpcore
httptools
httpx
idna
importlib-resources
jinja2
limits
markdown-it-py
markupsafe
mdurl
packaging
pydantic
pydantic-core
pygments
pymongo
python-dotenv
python-engineio
python-multipart
python-socketio
pyyaml
requests
rich
shellingham
simple-websocket
slowapi
sniffio
starlette
typer
typing-extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
wrapt
wsproto